#body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #121212 !important;
  color: #FFFFFF !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  background-color: #34C94B;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
}

#search:hover {
  cursor: pointer
}

.header input, i.fa-magnifying-glass {
  font-size: 1.5rem;
}

.header-btn {
  color: #34C94B !important;
  font-size: 1.5rem !important;
}

.react-multiple-carousel__arrow {
  background: #34C94B !important;
}

.accordion-header:not(:first-child){
  margin-top: 1rem;
}

.accordion-header button {
  font-size: 20px;
  font-weight: 600;
  background-color: #121212;
  color: #fff;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30rem;
}

.hero h1 {
  font-weight: 700 !important;
}